<!DOCTYPE html>
<html>
    <head>
        <title>
            CrowdManagement-about 
        </title>
        <meta name="viewport" content="with=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="static\css\style.css">
        <script type="text/javascript" src="static/js/script.js"></script>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.4.2/css/fontawesome.min.css">
    </head>
    <body>  
    <section class="sub-header">
       <nav>
            <a href="index.html"><img src=""></a>
            <div class="nav-links" id="navLinks">
                <i class="fa fa-times" onclick="hideMenu()"></i>
                    <ul>  
                        <a href="/">HOME</a>
                        <a href="info">INFO</a>
                        <a href="http://localhost:3008/">INJURY</a>
                        <a href="http://localhost:3000">STATS</a>
                        <a href="about">ABOUT</a>
                    </ul>     
            </div> 
            <i class="fa fa-bars" onclick="ShowMenu()"></i>
       </nav>
       <h1>ABOUT US</h1>
    </section>
    <div class="abt-txt">
        <h1>Vision and Mission</h1>
        <img src="static\images\abt.jpg" >
        <div class="temp"> 
            <p>
                We envision a world where communities are better 
                equipped to handle disasters and emergencies through
                advanced crowd monitoring and management solutions. 
                By harnessing the power of deep learning and drone 
                technology, we aim to mitigate the impact of disasters 
                and save lives.
            </p>
            <p>
                Our mission is to develop a robust system that leverages 
                deep learning techniques, particularly YOLO v8, 
                to accurately detect and track individuals in disaster 
                areas. By analyzing thermal images captured by drones, 
                we can provide real-time insights into crowd dynamics, 
                injury detection, and resource allocation. 
            </p>
    </div>
    </section>
</section>
    

<!----------------------FOOTER----------->
<section class="footer">
    <h4>About Us</h4>
    <p>We are dedicated to revolutionizing crowd management in disaster
        areas using cutting-edge technology. <br> Together, we are committed to enhancing public safety and response
        effectiveness during times of crisis.</p>
    <div class="icons">
        <i class="fa fa-facebook"></i>
        <i class="fa fa-twitter"></i>
        <i class="fa fa-instagram"></i>
        <i class="fa fa-linkedin"></i>

    </div>
</section>
    </body>
</html>